@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Instruction</h1>

<h3>1. Register and Login To Play</h3>
<h3>2. Go To "Cards" tab To Play the game </h3>
<h3>3. Click The Cards and have a chance of earning score.</h3>
<h3>4. Check your Score at the "All Score" Tab</h3>
