@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>@Model</h1>
<div>
    <form>
        <div>

            <button type="submit" asp-controller="PlayerActivity" asp-action="PlayerGame">

                <h5>Restart Game?</h5>
            </button>

        </div>
    </form>
</div>